$time-function: cubic-bezier(.165, .84, .44, 1);
$time-function1: cubic-bezier(.56, 0, .7, .4);

//data-scroll data-splitting data-turning data-transition-delay="0"
//data-scroll data-fadein data-transition-delay="0"
//data-scroll data-splitting data-fadding data-transition-delay="0"
//data-slow
//data-quick-chars


[data-scroll]{
  transition: all 1.5s $time-function;
}
[data-slow]{
  transition: all 1.5s $time-function1;
}

[data-scroll] .char {
  display: inline-block;
  -webkit-animation-delay: calc(0.2s + var(--char-index) * 0.07s);
  animation-delay: calc(0.2s + var(--char-index) * 0.07s);
  transition: all 0.25s calc(0.2s + var(--char-index) * 0.07s);
}
[data-quick-chars] .char{
  -webkit-animation-delay: calc(0.1s + var(--char-index) * 0.02s);
  animation-delay: calc(0.1s + var(--char-index) * 0.02s);
  transition: all 0.1s calc(0.1s + var(--char-index) * 0.02s);
}

[data-fadein] {
  opacity: 0;
  will-change: transform, scale, opacity;
  -webkit-transform: translateY(6rem) scale(.93);
  transform: translateY(6rem) scale(.93);
}
[data-unfadein]{
  opacity: 1;
  will-change: transform, scale, opacity;
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
}
[data-fadding]{
  & .char{
    opacity: 0;
  }
}
[data-turning]{
  & .char {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
[data-counter-infinity]{
  opacity: 1;
  transition: all 3s $time-function1;
  position: relative;
}
.counter-infinity-icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 3s $time-function1;

  &:before{
    content: "\e901";
    font-size: 1em;
    font-family: 'icomoon' !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

[data-scroll="in"]{

  &[data-fadein]{
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  &[data-unfadein]{
    opacity: 0;
    -webkit-transform: translateY(6rem) scale(.93);
    transform: translateY(6rem) scale(.93);
  }

  &[data-turning]{
    & .char {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
  }

  &[data-fadding]{
    & .char{
      opacity: 1;
    }
  }

  & > [data-counter-infinity]{
    //transition-delay: 1.5s;
    opacity: 0;
  }
  & > .counter-infinity-icon{
    opacity: 1;
  }

}




//Start data delay
[data-transition-delay="0"]{
  transition-delay: 0s;
}
[data-transition-delay=".2"]{
  transition-delay: .2s;
}
[data-transition-delay=".4"]{
  transition-delay: .4s;
}
//End data delay